.wallpaper-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.wallpaper-card {
  background-color: #fafbff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(89, 29, 29, 0.873);
  transition: all 0.3s ease-in-out;
  text-align: center;
  width: 100%; /* Ensure cards are responsive */
}

.wallpaper-card:hover {
  transform: scale(1.05);
}

.wallpaper-image {
  width: 100%;
  height: 350px; /* Set a fixed height to match the CardSection */
  object-fit: cover;
  border-radius: 8px;
}

.wallpaper-info {
  margin-top: 10px;
  text-align: center;
}

.download-button {
  background-color: #472c2c;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.download-button:hover {
  background-color: #3d0a0d;
}
.section-title-2 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #FFFFFF;
}
